*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.tex
*.tex~


# Files copied from submodule permutations:

megaminx_net.svg
permutations.Rnw
permutations.bib
start.jpg
superflip.jpg


# Files copied from submodule knotR:

1280px-Knot_table.png
four_knots.svg
inkscape_screenshot.png
knot.Rnw
knot.bib
screenshot_inkscape_7_6.png


# Files copied from submodule lorentz:

example_article_lorentz.Rnw
lorentz.Rnw
lorentz.bib

# Files copied from submodule spray:

example_article_spray.Rnw
spray.Rnw
spray.bib
four_dimensional_knight.svg



# Files that are created in the submodule:

.submodules